{% extends 'cms/base.html' %}

{% block content %}

<div class="container">
    <legend class="border-bottom mb-4 text-center">Game Details</legend>
    <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-2 cols-lg-2 cols-xl-2 cols-xxl-2">
        <div class="col">
            <div class="row">
                <div class="col col-12">
                {% if game.image %}  
                    <img class="boardgame-detail-image img-fluid" src="{{ game.image.url }}" alt="plant image">
                {% else %}
                    <img class="boardgame-detail-image img-fluid" src="http://placehold.it/360x150" alt="game image">
                {% endif %}
                </div> 
                <div class="col align-items-end" >
                    <div class="text-center">
                        <a href="{% url 'cms:index' %}" class="btn btn-primary">Back</a>
                        <a href="{% url 'cms:edit_game' game.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'cms:add_history' game.pk %}" class="btn btn-primary">Add Records</a>
                    </div>  
                </div>
            </div>    
        </div>
        <div class="col"> 
            <ul>
                <div id="" data-name='{{ game }}'><h3>{{ game }}</h3></div>
                <!-- <label for="game-category">Category</label><span class="form-control" id="game-category">{{ game.category }}</span> -->
                <label for="game-player">Amount of players</label><span class="form-control" id="game-player">{{ game.player }}</span>
                <label for="game-time">Game Time</label><span class="form-control" id="game-time">{{ game.time }}</span>
                <label for="game-memo">MEMO</label><span class="form-control" id="game-memo">{{ game.memo | linebreaks | urlize }}</span>
            </ul>            
        </div> 
    </div>

    <div class="row p-2">
        <div class="col">
            <legend class="border-bottom mb-4 text-center">Game Results</legend> 
        </div>
    </div>

    {% if histories %}
        {% for history in histories %}
        <div class="accordion" id="accordionGameHistory{{ history.id }}">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ history.id }}" aria-expanded="false" aria-controls="collapse{{ history.id }}">
                        Game ID {{ history.id }}, played on {{ history.date }} ({{ history.duaration }})
                    </button>
                </h2>
                <div id="collapse{{ history.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionGameHistory{{ history.id }}">
                    <div class="accordion-body">
                        <table class="table table-sm table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Winner</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for result in results %}
                                     {% if result.history_id == history.id %}
                                        <tr>
                                            <td>{{ result.player.name }}</td>
                                            <td>{{ result.score }}</td>
                                            <td>{{ result.winner }}</td>
                                        </tr>
                                     {% endif %}
                                {% endfor %}
                                <!-- {% for result in results %}
                                <tr>
                                    <td scope="row">{{ result.player }}</td>
                                    <td scope="row">{{ result.score }}</td>
                                    <td scope="row">{{ result.winner }}</td>
                                </tr>
                            {% endfor %} -->
                            </tbody>
                        </table>
                    </div>  
                </div>    
            </div>   
        </div>        
        {% endfor %}
    {% else %}
    <div class="row p-2">
        <div class="col text-center">
            <p class="lead">
                No Game Results found
            </p>
        </div>
    </div>
    {% endif %}

    <div class="row p-2">
        <div class="col">
            <!-- Button Delete Game -->
            <div class="text-center">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGame">Delete Game</button>
            </div>
        </div>
    </div>

</div> 
 
<!-- Modal Delete Game -->
{% include "cms/modals/modal_delete_game.html" %}

{% endblock %}