{% extends 'cms/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <form action="{% url 'cms:edit_game' game.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <legend class="border-bottom mb-4 text-center">Edit Game</legend>
            <fieldset class="form-group">
                <label for="">Image</label>
                <div class="form-control my-form-control">
                    {% if game.image %}
                    <img class='boardgame-detail-image' src=" {{ game.image.url }}">
                    {% endif %}
                    {{ form.image }}
                </div>
                
                <label for="">Board Game Title</label>
                <div class="form-control my-form-control">{{ form.title }}</div>

                <label for="">Number of Players</label>
                <div class="form-control my-form-control">{{ form.player }}</div>

                <label for="">Playing Time</label>
                <div class="form-control my-form-control">{{ form.time }}</div>

                <label for="">MEMO</label>
                <div class="form-control my-form-control">{{ form.memo }}</div>
                
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'cms:detail' game.id %}" class="btn btn-primary">Back</a>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}