{% extends 'cms/base.html' %}

{% block content %}
    
    <div class="main-container">
        <h1 class="text-center">My Board Games</h3>
        <div class="boardgames">
            {% for game in games %}       
                <div class="game" data-plant="{{ game.id }}">     
                    <img class="thumbnail" src="{{ game.image.url }}" alt="game image" class="thumbnail">
                    <button data-name="{{ game }}" class="btn btn-warning deleteBtn"><i class="fas fa-times"></i></button>
                    
                    <div class="infoDiv">
                        <h5 class="text-center fw-bold"><a href="{% url 'cms:detail' game.id %}">{{ game }}</a></h5>
                        <div><small class="waterinfo text-muted text-center">Last played: unknown</small></div>
                        <div><small class="waterinfo text-muted text-center">Last winner: Sascha</small></div>
                        <div><small class="waterinfo text-muted text-center">Plays: unknown</small></div>
                    </div>  
                </div>
            {% endfor %}
            <div class="addgame">
                <h4><a href="{% url 'cms:new_game' %}"><i class="fas fa-plus"></i>  Add a game</a>
                    </h4>
            </div>

        </div>
    </div>
    <div class="popup-container">
        <div class="popup btn-outline-secondary">
            <h3>Delete <span id="game_name">XXX</span> ?</h3>
            <div>
                <button id="yesBtn" class="myBtn btn-danger">Yes</button>
                <button id="noBtn" class="myBtn btn-light">No</button>
            </div>
            
        </div>
    </div>
 
{% endblock %}
