{% extends 'cms/base.html' %}

{% block content %}

<div class="container">
    <legend class="border-bottom mb-4 text-center">Add Game</legend>
    <div class="row">
        <form action="{% url 'cms:new_game' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          
                
                <div class="mb-3">   
                    <label for="id_image" class="form-label">Image</label>
                    {{ form.image }}
                </div>
                
                <div class="mb-3">   
                    <label for="id_title" class="form-label">Board Game Title</label>
                    {{ form.title }}
                </div>

                <div class="mb-3">
                    <label for="id_player" class="form-label">Number of Players</label>
                    {{ form.player }}
                </div>

                <div class="mb-3">  
                    <label for="id_time" class="form-label">Playing Time</label>
                    {{ form.time }}
                </div>

                <div class="mb-3"> 
                    <label for="id_memo" class="form-label">MEMO</label>
                    {{ form.memo }}
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="{% url 'cms:index' %}" class="btn btn-primary">Back</a>
                </div>
       
        </form>
    </div>
</div>

{% endblock %}