/* .container {
    background-color: aqua;
} */

.nav.background {
    background: rgb(7,36,0);
    background: linear-gradient(90deg, rgba(7,36,0,1) 0%, rgba(9,9,121,0.5396359227284664) 48%, rgba(255,0,149,1) 100%); 
}