<div class="modal fade" id="modalGame" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalGameLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            {% if form.instance.id %}
                <h1 class="modal-title fs-5" id="modalGameLabel">Edit {{ game }} </h1> 
            {% else %}
                <h1 class="modal-title fs-5" id="modalGameLabel">Add Game</h1>
            {% endif %}
          
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {% if form.instance.id %}
            <form action="{% url 'cms:edit_game' game.id %}" method="POST" enctype="multipart/form-data">
        {% else %}
            <form action="{% url 'cms:new_game' %}" method="POST" enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
            <div class="modal-body">
                <div class="row">
                    <div class="mb-3">   
                        <label for="id_image" class="form-label">Image</label>
                        {{ form.image }}
                    </div>
                    
                    <div class="mb-3">   
                        <label for="id_title" class="form-label">Board Game Title</label>
                        {{ form.title }}
                    </div>

                    <div class="mb-3">
                        <label for="id_category" class="form-label">Category</label>
                        {{ form.category }}
                    </div>

                    <div class="mb-3">
                        <label for="id_player" class="form-label">Number of Players</label>
                        {{ form.player }}
                    </div>

                    <div class="mb-3">  
                        <label for="id_time" class="form-label">Playing Time</label>
                        {{ form.time }}
                    </div>

                    <div class="mb-3"> 
                        <label for="id_memo" class="form-label">MEMO</label>
                        {{ form.memo }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
</div>