<div class="modal fade" id="modalRecord" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalRecordLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            {% if history.id %}
                <h1 class="modal-title fs-5" id="modalRecordLabel">Edit History Entry (Game ID {{ record_form.id }})</h1> 
            {% else %}
                <h1 class="modal-title fs-5" id="modalRecordLabel">Add History Entry for {{ game }}</h1>
            {% endif %}
          
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {% if history.id %}
            <form action="" method="POST">
        {% else %}
            <!-- add form to edit History entries -->
            <form action="{% url 'cms:add_record' game.id %}" method="POST">
        {% endif %}
        {% csrf_token %}
            <div class="modal-body">
                <div class="row">
                    <div class="mb-3">   
                        <label for="id_date" class="form-label">Played Date</label>
                        {{ record_form.date }}
                    </div>
 
                    <div class="mb-3">
                        <label for="id_duaration" class="form-label">Duration</label>
                        {{ record_form.duaration }}
                    </div>
                </div>
                {{ record_formset.management_form}}
                {% for result_form in record_formset %}
                <hr>
                <div class="row">                    
                    <div class="mb-3">   
                        <label for="id_game" class="form-label">Player Name</label>
                        {{ result_form.player }} <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPlayer"><i class="fas fa-plus"></i></button>
                    </div>
 
                    <div class="mb-3">
                        <label for="id_duaration" class="form-label">Score</label>
                        {{ result_form.score }}
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                        {{ result_form.winner }}
                        <label class="form-check-label" for="id_winner">Are You Winner?</label>
                        </div>
                    </div>
                </div>
                {% endfor %}
            

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
      </div>
    </div>
</div>